SVM

# SVM

In [17]:
import numpy as np
import pandas as pd
import pickle
import joblib
import matplotlib.pyplot as plt
from numpy import loadtxt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from tqdm import tqdm
from xgboost import plot_importance
from sklearn.metrics import confusion_matrix
from sklearn.metrics import recall_score

In [18]:
df = pd.read_csv('drive/MyDrive/Dataset/finalddos.csv')
df

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,54865,3,2,0,12,0,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
1,55054,109,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
2,55055,52,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
3,46236,34,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
4,54863,3,2,0,12,0,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225740,61374,61,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
225741,61378,72,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
225742,61375,75,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
225743,61323,48,2,0,12,0,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
225744,61326,68,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN

In [19]:
# Modify dataset
df = df[[' Destination Port', 'Total Length of Fwd Packets', ' Bwd Packet Length Std', ' Flow IAT Min', 'Fwd IAT Total', ' Bwd Packets/s', 'Init_Win_bytes_forward', ' Init_Win_bytes_backward',' Label']]
df.head()

,Destination Port,Total Length of Fwd Packets,Bwd Packet Length Std,Flow IAT Min,Fwd IAT Total,Bwd Packets/s,Init_Win_bytes_forward,Init_Win_bytes_backward,Label
0,54865,12,0.0,3,3,0.000000,33,-1,BENIGN
1,55054,6,0.0,109,0,9174.311927,29,256,BENIGN
2,55055,6,0.0,52,0,19230.769230,29,256,BENIGN
3,46236,6,0.0,34,0,29411.764710,31,329,BENIGN
4,54863,12,0.0,3,3,0.000000,32,-1,BENIGN

In [20]:
# Splitting dataset into features and label
X = df.drop(' Label', axis=1)
y = df[' Label']

In [21]:
# Splitting the dataset into the training set and the test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [22]:
X_train = X_train.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)
X_test = X_test.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)
# Feature scaling 
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [23]:
# Fitting SVM with the training set
SVM = SVC(kernel='linear', random_state=0)
SVM.fit(X_train, y_train)

SVC(kernel='linear', random_state=0)

In [24]:
# Testing the model by classifying the test set
y_pred = SVM.predict(X_test)

In [25]:
# Creating confusion matrix for evaluation
cm = confusion_matrix(y_test, y_pred)
cr = classification_report(y_test, y_pred)

In [26]:
# Print out confusion matrix and report
print(cm)
print(cr)

[[18506   983]
 [   38 25622]]
              precision    recall  f1-score   support

      BENIGN       1.00      0.95      0.97     19489
        DDoS       0.96      1.00      0.98     25660

    accuracy                           0.98     45149
   macro avg       0.98      0.97      0.98     45149
weighted avg       0.98      0.98      0.98     45149

NB

# NB

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from xgboost import plot_importance
from numpy import loadtxt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
import pickle
from tqdm import tqdm
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import recall_score
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import StandardScaler

In [28]:
train = pd.read_csv('drive/MyDrive/Dataset/finalddos.csv')

# Modify dataset
train = train[[' Destination Port', 'Total Length of Fwd Packets', ' Bwd Packet Length Std', ' Flow IAT Min', 'Fwd IAT Total', ' Bwd Packets/s', 'Init_Win_bytes_forward', ' Init_Win_bytes_backward',' Label']]
train.head()

,Destination Port,Total Length of Fwd Packets,Bwd Packet Length Std,Flow IAT Min,Fwd IAT Total,Bwd Packets/s,Init_Win_bytes_forward,Init_Win_bytes_backward,Label
0,54865,12,0.0,3,3,0.000000,33,-1,BENIGN
1,55054,6,0.0,109,0,9174.311927,29,256,BENIGN
2,55055,6,0.0,52,0,19230.769230,29,256,BENIGN
3,46236,6,0.0,34,0,29411.764710,31,329,BENIGN
4,54863,12,0.0,3,3,0.000000,32,-1,BENIGN

In [29]:
from sklearn import preprocessing 
for f in train.columns: 
  if train[f].dtype=='object': 
    label = preprocessing.LabelEncoder() 
    label.fit(list(train[f].values)) 
    train[f] = label.transform(list(train[f].values))
train.fillna((-999), inplace=True) 
train=np.array(train) 
train = train.astype(float)

In [30]:
train = pd.DataFrame(train)
#print(train)

In [31]:
# Splitting dataset into features and label
X = df.drop(' Label', axis=1)
y = df[' Label']

In [32]:
# split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=7)

In [33]:
X_train = X_train.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)
X_test = X_test.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)
X_train = StandardScaler().fit_transform(X_train)
X_test = StandardScaler().fit_transform(X_test)

In [35]:
#y_train=y_train.astype('int')
NB=GaussianNB()
NB.fit(X_train, y_train)

GaussianNB()

In [36]:
y_pred = NB.predict(X_test)

In [37]:
accuracy = accuracy_score(y_test, y_pred)
print("accuracy:",accuracy)

accuracy: 0.9465547409687922

In [38]:
f1score=f1_score(y_test, y_pred, average='micro')
print("f1-acore:",f1score)

f1-acore: 0.9465547409687922

In [39]:
cm=confusion_matrix(y_test, y_pred)
print("confusion matrix:",cm)

confusion matrix: [[17323  2389]
 [   24 25413]]

In [40]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

      BENIGN       1.00      0.88      0.93     19712
        DDoS       0.91      1.00      0.95     25437

    accuracy                           0.95     45149
   macro avg       0.96      0.94      0.94     45149
weighted avg       0.95      0.95      0.95     45149

In [41]:
pr=precision_score(y_test,y_pred, average='micro')
print("Precision:",pr)

Precision: 0.9465547409687922

KNN

# KNN

In [42]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix

In [44]:
#import the dataset 
df= pd.read_csv('drive/MyDrive/Dataset/finalddos.csv')

# Modify dataset
df = df[[' Destination Port', 'Total Length of Fwd Packets', ' Bwd Packet Length Std', ' Flow IAT Min', 'Fwd IAT Total', ' Bwd Packets/s', 'Init_Win_bytes_forward', ' Init_Win_bytes_backward',' Label']]
df.head()

,Destination Port,Total Length of Fwd Packets,Bwd Packet Length Std,Flow IAT Min,Fwd IAT Total,Bwd Packets/s,Init_Win_bytes_forward,Init_Win_bytes_backward,Label
0,54865,12,0.0,3,3,0.000000,33,-1,BENIGN
1,55054,6,0.0,109,0,9174.311927,29,256,BENIGN
2,55055,6,0.0,52,0,19230.769230,29,256,BENIGN
3,46236,6,0.0,34,0,29411.764710,31,329,BENIGN
4,54863,12,0.0,3,3,0.000000,32,-1,BENIGN

In [45]:
#here we are preprocessing 

X=df.drop(' Label',1)
y = df[' Label'].values

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [46]:
#Split the training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [47]:
#feature Scaling
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [48]:
#here we train the KNN algorithm to make predictions with it

KNN = KNeighborsClassifier(n_neighbors=5)
KNN.fit(X_train, y_train)

KNeighborsClassifier()

In [49]:
#make predictions on the test data 
y_pred = KNN.predict(X_test)

In [50]:
print(confusion_matrix(y_test, y_pred))

[[19526    20]
 [   15 25588]]

In [51]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

      BENIGN       1.00      1.00      1.00     19546
        DDoS       1.00      1.00      1.00     25603

    accuracy                           1.00     45149
   macro avg       1.00      1.00      1.00     45149
weighted avg       1.00      1.00      1.00     45149

RF

# RF

In [52]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report

In [53]:
#import the dataset 
df= pd.read_csv('drive/MyDrive/Dataset/finalddos.csv')

# Modify dataset
df = df[[' Destination Port', 'Total Length of Fwd Packets', ' Bwd Packet Length Std', ' Flow IAT Min', 'Fwd IAT Total', ' Bwd Packets/s', 'Init_Win_bytes_forward', ' Init_Win_bytes_backward',' Label']]
df.head()

,Destination Port,Total Length of Fwd Packets,Bwd Packet Length Std,Flow IAT Min,Fwd IAT Total,Bwd Packets/s,Init_Win_bytes_forward,Init_Win_bytes_backward,Label
0,54865,12,0.0,3,3,0.000000,33,-1,BENIGN
1,55054,6,0.0,109,0,9174.311927,29,256,BENIGN
2,55055,6,0.0,52,0,19230.769230,29,256,BENIGN
3,46236,6,0.0,34,0,29411.764710,31,329,BENIGN
4,54863,12,0.0,3,3,0.000000,32,-1,BENIGN

In [54]:
#here we are preprocessing 
X = df.drop(' Label',1)
y = df[' Label'].values

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [56]:
# Splitting the dataset into the Training set and Test set
X_Train, X_Test, y_Train, y_Test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [57]:
# Feature Scaling
X_Train = StandardScaler().fit_transform(X_Train)
X_Test = StandardScaler().fit_transform(X_Test)

In [58]:
# Fitting the classifier into the Training set
RF = RandomForestClassifier(n_estimators = 200, criterion = 'entropy', random_state = 0)
RF.fit(X_Train,y_Train)

RandomForestClassifier(criterion='entropy', n_estimators=200, random_state=0)

In [59]:
# Predicting the test set results
y_Pred = RF.predict(X_Test)

In [60]:
# Making the Confusion Matrix 
cm = confusion_matrix(y_Test, y_Pred)
print(cm)

[[19481     8]
 [ 2917 22743]]

In [61]:
print(classification_report(y_Test, y_Pred))

              precision    recall  f1-score   support

      BENIGN       0.87      1.00      0.93     19489
        DDoS       1.00      0.89      0.94     25660

    accuracy                           0.94     45149
   macro avg       0.93      0.94      0.93     45149
weighted avg       0.94      0.94      0.94     45149

DT

# DT

In [62]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier

In [63]:
#import the dataset 
df= pd.read_csv('drive/MyDrive/Dataset/finalddos.csv')

# Modify dataset
df = df[[' Destination Port', 'Total Length of Fwd Packets', ' Bwd Packet Length Std', ' Flow IAT Min', 'Fwd IAT Total', ' Bwd Packets/s', 'Init_Win_bytes_forward', ' Init_Win_bytes_backward',' Label']]
df.head()

,Destination Port,Total Length of Fwd Packets,Bwd Packet Length Std,Flow IAT Min,Fwd IAT Total,Bwd Packets/s,Init_Win_bytes_forward,Init_Win_bytes_backward,Label
0,54865,12,0.0,3,3,0.000000,33,-1,BENIGN
1,55054,6,0.0,109,0,9174.311927,29,256,BENIGN
2,55055,6,0.0,52,0,19230.769230,29,256,BENIGN
3,46236,6,0.0,34,0,29411.764710,31,329,BENIGN
4,54863,12,0.0,3,3,0.000000,32,-1,BENIGN

In [64]:
#here we are preprocessing 
X = df.drop(' Label',1)
y = df[' Label'].values

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [66]:
# Splitting the dataset into the Training set and Test set
X_Train, X_Test, y_Train, y_Test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [67]:
# Feature Scaling
X_Train = X_Train.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)
X_Test = X_Test.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)
X_Train = StandardScaler().fit_transform(X_Train)
X_Test = StandardScaler().fit_transform(X_Test)

In [68]:
# Fitting the classifier into the Training set
DT = DecisionTreeClassifier(max_depth=6, random_state=1)
DT.fit(X_Train, y_Train)

DecisionTreeClassifier(max_depth=6, random_state=1)

In [69]:
# Predicting the test set results
y_Pred = DT.predict(X_Test)

In [70]:
# Making the Confusion Matrix 
cm = confusion_matrix(y_Test, y_Pred)
print(cm)

[[18976   513]
 [    9 25651]]

In [71]:
print(classification_report(y_Test, y_Pred))

              precision    recall  f1-score   support

      BENIGN       1.00      0.97      0.99     19489
        DDoS       0.98      1.00      0.99     25660

    accuracy                           0.99     45149
   macro avg       0.99      0.99      0.99     45149
weighted avg       0.99      0.99      0.99     45149

Stacked Model

# Stacked Model

In [72]:
import numpy as np
import pandas as pd
from sklearn.ensemble import StackingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix, classification_report

In [73]:
#import the dataset 
df= pd.read_csv('drive/MyDrive/Dataset/finalddos.csv')

# Modify dataset
df = df[[' Destination Port', 'Total Length of Fwd Packets', ' Bwd Packet Length Std', ' Flow IAT Min', 'Fwd IAT Total', ' Bwd Packets/s', 'Init_Win_bytes_forward', ' Init_Win_bytes_backward',' Label']]
df.head()

,Destination Port,Total Length of Fwd Packets,Bwd Packet Length Std,Flow IAT Min,Fwd IAT Total,Bwd Packets/s,Init_Win_bytes_forward,Init_Win_bytes_backward,Label
0,54865,12,0.0,3,3,0.000000,33,-1,BENIGN
1,55054,6,0.0,109,0,9174.311927,29,256,BENIGN
2,55055,6,0.0,52,0,19230.769230,29,256,BENIGN
3,46236,6,0.0,34,0,29411.764710,31,329,BENIGN
4,54863,12,0.0,3,3,0.000000,32,-1,BENIGN

In [74]:
#here we are preprocessing 
X = df.drop(' Label',1)
y = df[' Label'].values

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [75]:
# Splitting the dataset into the Training set and Test set
X_Train, X_Test, y_Train, y_Test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [76]:
# Feature Scaling
X_Train = X_Train.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)
X_Test = X_Test.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)
X_Train = StandardScaler().fit_transform(X_Train)
X_Test = StandardScaler().fit_transform(X_Test)

In [77]:
estimator_list = [
    ('SVM',SVM),
    ('NB',NB),
    ('RF',RF),
    ('DT',DT)
    ]

In [78]:
# Build and fit stack model
stack_model = StackingClassifier(
    estimators=estimator_list, final_estimator=LogisticRegression())
stack_model.fit(X_train, y_train)

StackingClassifier(estimators=[('SVM', SVC(kernel='linear', random_state=0)),
                               ('NB', GaussianNB()),
                               ('RF',
                                RandomForestClassifier(criterion='entropy',
                                                       n_estimators=200,
                                                       random_state=0)),
                               ('DT',
                                DecisionTreeClassifier(max_depth=6,
                                                       random_state=1))],
                   final_estimator=LogisticRegression())

In [79]:
# Make predictions
y_train_pred = stack_model.predict(X_train)
y_test_pred = stack_model.predict(X_test)

In [80]:
# Training set model performance
train_acc = accuracy_score(y_train, y_train_pred)  
train_f1 = f1_score(y_train, y_train_pred, average='weighted') 
train_pr=precision_score(y_train,y_train_pred, average='micro')


print('Model performance for Training set')
print('Accuracy: %s' % train_acc)
print('F1 score: %s' % train_f1)
print("Precision:%s",train_pr)

Model performance for Training set
Accuracy: 0.9999667766727945
F1 score: 0.9999667766727945
Precision:%s 0.9999667766727945

In [81]:
# Test set model performance
test_acc = accuracy_score(y_test, y_test_pred)  
test_f1 = f1_score(y_test, y_test_pred, average='weighted') 
test_pr=precision_score(y_test,y_test_pred, average='micro')

print('Model performance for Test set')
print('Accuracy: %s' % test_acc)
print('F1 score: %s' % test_f1)
print("Precision:%s",test_pr)

Model performance for Test set
Accuracy: 0.9999114044607854
F1 score: 0.9999114044607854
Precision:%s 0.9999114044607854

In [82]:
cm=confusion_matrix(y_test, y_test_pred)
print(cm)

[[19544     2]
 [    2 25601]]

In [83]:
print(classification_report(y_test, y_test_pred))

              precision    recall  f1-score   support

      BENIGN       1.00      1.00      1.00     19546
        DDoS       1.00      1.00      1.00     25603

    accuracy                           1.00     45149
   macro avg       1.00      1.00      1.00     45149
weighted avg       1.00      1.00      1.00     45149